*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    background-color: hsl(47, 88%, 63%) ;
}

main{
    margin: 5% auto;
    width: 384px;
    height: 522px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border: 1px solid gray-900;
    border-radius: 20px;
    padding: 24px 24px;
    box-shadow: 8px 8px black;

}

main:hover{
    box-shadow: 16px 16px black;
}
 #svgWrapper{
    border-radius: 10px;
}

.learning{
 margin-top: 0px;
}

.content-txt{
    margin-top: 12px;
}

.name{
    margin-top: 12px;
}